<div class="main home">
  <div class="jumbotron1">
    <div class="container">
      <img src="https://dl.dropboxusercontent.com/u/83001453/12191973_10156121794815328_8665025681762952501_n.jpg" style="width: 100%" />
      <p>Born and raised in New Zealand, this proud kiwi moved to Australia in 2000 with his family. His passions lead him to pursue a Masters in Information Technology and now works as a website application developer. An avid traveller, language learner and basketballer, his primary focus these days are starting his own business building software for small businesses.</p>
      <a class="btn right" href="portfolio">View my Work</a>
    </div>
  </div>
</div>