<div class="main home">
    <div class="container">
      <div class="row">
        <a href="mailto:burfie@hotmail.com">
          <div class="col-xs-2">
            <i class="fa fa-envelope-square fa-5x"></i>
            <p>Email</p>
          </div>
        </a>
        <a href="https://www.facebook.com/Matt.Burfield">
          <div class="col-xs-2">
            <i class="fa fa-facebook-square fa-5x"></i>
            <p>Facebook</p>
          </div>
        </a>
        <a href="https://github.com/Matthew-Burfield">
          <div class="col-xs-2">
            <i class="fa fa-github-square fa-5x"></i>
            <p>GitHub</p>
          </div>
        </a>
        <a href="https://plus.google.com/109084768719056793193">
          <div class="col-xs-2">
            <i class="fa fa-google-plus-square fa-5x"></i>
            <p>Google+</p>
          </div>
        </a>
        <a href="https://www.linkedin.com/profile/view?id=AAIAAAhvDV8BgX2yT7mVTeY0-OYFWuq87Sgw3jQ&trk=nav_responsive_tab_profile">
          <div class="col-xs-2">
            <i class="fa fa-linkedin-square fa-5x"></i>
            <p>LinkedIn</p>
          </div>
        </a>
        <a href="https://twitter.com/Burfield12">
          <div class="col-xs-2">
            <i class="fa fa-twitter-square fa-5x"></i>
            <p>Twitter</p>
          </div>
        </a>
      </div>
      <a class="btn right" href="portfolio">View my Work</a>
    </div>
  </div>
</div>