<script type="text/javascript">
$(function() {
    $('.banner').unslider();
});
</script>
<div class="banner">
    <ul>
        <li style="background-image: url('https://photos-6.dropbox.com/t/2/AAAcBA_pNuMvW_r8t7fnkvEEgWp-tjGnaUvWKKKLkfTVLw/12/83001453/png/32x32/1/_/1/2/Screen%20Shot%202015-09-27%20at%203.54.35%20pm.png/ELi1zkAYKiABKAE/KW3In-Mo-ov3FOt7_ef_BWBPnU7IZXC8U47c3rQY8u8?size=1024x768&size_mode=2');"></li>
        <li style="background-image: url('https://photos-1.dropbox.com/t/2/AAD5OHjGEMZpbcDiuz7AACs_eOfvraU2VwpDiOR6TNdbWg/12/83001453/png/32x32/1/_/1/2/Screen%20Shot%202015-09-27%20at%203.49.27%20pm.png/ELi1zkAYKiABKAE/0RJ1sjI632A0-CWjmD1UQYyf4ZweokalDaEAy2gZ1VQ?size=1024x768&size_mode=2');"></li>
        <li style="background-image: url('https://photos-5.dropbox.com/t/2/AACNvdTCZaPOEvdyeFBwY_hZkCSq9_GCSyyQYpQSwG6EXw/12/83001453/png/32x32/1/_/1/2/Screen%20Shot%202015-09-27%20at%203.46.45%20pm.png/ELi1zkAYKiABKAE/D5aFn5_A5HBeAyZ4oCDe7xklfpKnKYKCskAbKQ4z2tg?size=1024x768&size_mode=2');"></li>
    </ul>
</div>