<script type="text/javascript">
$(function() {
    $('.banner').unslider();
});
</script>
<div class="banner-container">
<div class="banner">
    <ul>
        <li class="uslider1"></li>
        <li class="uslider2"></li>
        <li class="uslider3"></li>
    </ul>
</div>
  <div class="grid-container">
    <h2>My Rails Apps</h2>
    <div class="grid-square col-mid-4">
      <img src="https://dl.dropboxusercontent.com/u/83001453/Screen%20Shot%202015-09-27%20at%203.44.57%20pm_small.png" />
      <p>My first rails app</p>
    </div>
    <div class="grid-square col-mid-4">
      <img src="https://photos-4.dropbox.com/t/2/AADfacaudvN3o2lJrTFt2igZ1UIl8KcFrMmvQd8wDXq7Sg/12/83001453/png/32x32/1/_/1/2/Screen%20Shot%202015-09-27%20at%203.45.51%20pm_small.png/ELi1zkAYNCABKAE/_JCunAWhb9AmJhWelKtdDAyy0gcOec-ijBuBKfptOxM?size=1024x768&size_mode=2" />
      <p>We are broadway</p>
    </div>
    <div class="grid-square col-mid-4">
      <img src="https://photos-4.dropbox.com/t/2/AAAdp_XE1PfbVyXvagDR-87nuxPgFu4dK3VjVnQt0i7YrA/12/83001453/png/32x32/1/_/1/2/Screen%20Shot%202015-09-27%20at%203.46.45%20pm_small.png/ELi1zkAYNCABKAE/rXvrLGNKHbhLp3zbi-VNPRg3sIk9ZbuhZmTJPgoTbKM?size=1024x768&size_mode=2" />
      <p>Watch your favourite movies, instantly</p>
    </div>
    <div class="grid-square col-mid-4">
      <img src="https://photos-2.dropbox.com/t/2/AABAGMIroav3mZTsF7AxrGK4TtT5u08CoRN6wa9O05N5TA/12/83001453/png/32x32/1/_/1/2/Screen%20Shot%202015-09-27%20at%203.48.27%20pm_small.png/ELi1zkAYNCABKAE/0zUt7mIbDn5w2mO9-Q-0zghcMOHezD-5vRgOve2bn_E?size=1024x768&size_mode=2" />
      <p>Instant messaging</p>
    </div>
    <div class="grid-square col-mid-4">
      <img src="https://photos-6.dropbox.com/t/2/AABXlAuLOCvWf4WUOXsTiag_pXV1Zswm3-JguZmieuZE-Q/12/83001453/png/32x32/1/_/1/2/Screen%20Shot%202015-09-27%20at%203.49.27%20pm_small.png/ELi1zkAYNCABKAE/gfF1pSwcUvaF8MoIXChnQmjHjuyGxbPRAnRsZ_xgW7c?size=1024x768&size_mode=2" />
      <p>Innovation Cloud</p>
    </div>
    <div class="grid-square col-mid-4">
      <img src="https://photos-2.dropbox.com/t/2/AAAvmMZ-sG-h6c_8P2LFZFbJCC3HOCKh9_8WQ5YeizNdxQ/12/83001453/png/32x32/1/_/1/2/Screen%20Shot%202015-09-27%20at%203.50.23%20pm_small.png/ELi1zkAYNCABKAE/tN3Rd9PWeneSqRRRLVpd7EU4jLUhU6YZGD8-2OqLqnA?size=1024x768&size_mode=2" />
      <p>Threadly, forum posting</p>
    </div>
    <div class="grid-square col-mid-4">
      <img src="https://photos-2.dropbox.com/t/2/AAC5vitvPw3ov-LeHA4Vy7UwpfXvkcbs0JWzDocXJeel-g/12/83001453/png/32x32/1/_/1/2/Screen%20Shot%202015-09-27%20at%203.52.58%20pm_small.png/ELi1zkAYNCABKAE/7PTCfQrauwcEenPV_1FuCLimtqXeZidHwroTEPnD_7k?size=1024x768&size_mode=2" />
      <p>BokenjiKan</p>
    </div>
    <div class="grid-square col-mid-4">
      <img src="https://photos-5.dropbox.com/t/2/AADNVcpDn5Dv82i89HXWcY7ZcIC_vcq6OSM5GP4-svjz9g/12/83001453/png/32x32/1/_/1/2/Screen%20Shot%202015-09-27%20at%203.53.23%20pm_small.png/ELi1zkAYNCABKAE/WCuFrvIMZO6r4V6r_Pra6ljy7FTxi8wfjbYeEhzsQtw?size=1024x768&size_mode=2" />
      <p>Bookmarks</p>
    </div>
    <div class="grid-square col-mid-4">
      <img src="https://photos-4.dropbox.com/t/2/AACeya18C5W3koxa9eOCnQbidqKVlA9sIotCX4n0g-lwnw/12/83001453/png/32x32/1/_/1/2/Screen%20Shot%202015-09-27%20at%203.53.53%20pm_small.png/ELi1zkAYNCABKAE/0V2kkp1lrBk6CsVZmPAqiITsQeiSvn3gTdzqOkB27fs?size=1024x768&size_mode=2" />
      <p>Bass, music app</p>
    </div>
    <div class="grid-square col-mid-4">
      <img src="https://photos-5.dropbox.com/t/2/AAB95PeDsMqIbAfyMpDMw0BGl73pPr1DYr0dIzL1Dc9tkA/12/83001453/png/32x32/1/_/1/2/Screen%20Shot%202015-09-27%20at%203.54.35%20pm_small.png/ELi1zkAYNCABKAE/pirt92byBIhZ6nEIygEILpwtPsu5Qnmnkg42-c_NNC4?size=1024x768&size_mode=2" />
      <p>Find films and actors</p>
    </div>
  </div>
</div>