<script type="text/javascript">
$(function() {
    $('.banner').unslider();
});
</script>
<div class="banner-container">
<div class="banner">
    <ul>
        <li class="uslider1"></li>
        <li class="uslider2"></li>
        <li class="uslider3"></li>
    </ul>
</div>
  <div class="grid-container">
    <h2>My Rails Apps</h2>
    <div class="grid-square col-mid-4">
      <img src="https://dl.dropboxusercontent.com/u/83001453/Screen%20Shot%202015-09-27%20at%203.44.57%20pm_small.png" />
      <p>My first rails app</p>
    </div>
    <div class="grid-square col-mid-4">
      <img src="https://dl.dropboxusercontent.com/u/83001453/Screen%20Shot%202015-09-27%20at%203.45.51%20pm_small.png" />
      <p>We are broadway</p>
    </div>
    <div class="grid-square col-mid-4">
      <img src="https://dl.dropboxusercontent.com/u/83001453/Screen%20Shot%202015-09-27%20at%203.46.45%20pm_small.png" />
      <p>Watch your favourite movies, instantly</p>
    </div>
    <div class="grid-square col-mid-4">
      <img src="https://dl.dropboxusercontent.com/u/83001453/Screen%20Shot%202015-09-27%20at%203.48.27%20pm_small.png" />
      <p>Instant messaging</p>
    </div>
    <div class="grid-square col-mid-4">
      <img src="https://dl.dropboxusercontent.com/u/83001453/Screen%20Shot%202015-09-27%20at%203.49.27%20pm_small.png" />
      <p>Innovation Cloud</p>
    </div>
    <div class="grid-square col-mid-4">
      <img src="https://dl.dropboxusercontent.com/u/83001453/Screen%20Shot%202015-09-27%20at%203.50.23%20pm_small.png" />
      <p>Threadly, forum posting</p>
    </div>
    <div class="grid-square col-mid-4">
      <img src="https://dl.dropboxusercontent.com/u/83001453/Screen%20Shot%202015-09-27%20at%203.52.58%20pm_small.png" />
      <p>BokenjiKan</p>
    </div>
    <div class="grid-square col-mid-4">
      <img src="https://dl.dropboxusercontent.com/u/83001453/Screen%20Shot%202015-09-27%20at%203.53.23%20pm_small.png" />
      <p>Bookmarks</p>
    </div>
    <div class="grid-square col-mid-4">
      <img src="https://dl.dropboxusercontent.com/u/83001453/Screen%20Shot%202015-09-27%20at%203.53.53%20pm_small.png" />
      <p>Bass, music app</p>
    </div>
    <div class="grid-square col-mid-4">
      <img src="https://dl.dropboxusercontent.com/u/83001453/Screen%20Shot%202015-09-27%20at%203.54.35%20pm_small.png" />
      <p>Find films and actors</p>
    </div>
  </div>
</div>