<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,500,700' rel='stylesheet' type='text/css'>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header">
  <div class="container">
    <div class="row">
      <div class="menu col-xs-8">
        <ul>
          <li>
            <a href="/">Welcome</a>
          </li>

          <li>
            <a href="portfolio">Portfolio</a>
          </li>

          <li>
            <a href=
               "https://medium.com/about-codecademy">Blog</a>
          </li>

          <li>
            <a href="about">About</a>
          </li>

          <li>
            <a href="contact">Contact</a>
          </li>
        </ul>
      </div>

      <div class="name col-xs-4">
        <h1>Matthew Burfield</h1>
      </div>
    </div>
  </div>
</div>
<%= yield %>
<div class="footer">
  <div class="container">
    <p class="social-media">
    	<a href="#"><i class="fa fa-github"></i> github</a>
      <a href="#"><i class="fa fa-linkedin"></i> linkedin</a>
      <a href="#"><i class="fa fa-twitter"></i> twitter</a>
    </p>
    <p>&copy; 2015 Matthew Burfield</p>
  </div>
</div>
</body>
</html>
